# Regressão

Material derivado do curso de Machine Learning da IBM: <br>
https://www.coursera.org/learn/machine-learning-with-python

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

from sklearn.linear_model import LinearRegression

In [ ]:
!wget "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%202/data/FuelConsumptionCo2.csv"

--2022-04-19 20:04:04--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%202/data/FuelConsumptionCo2.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72629 (71K) [text/csv]
Saving to: ‘FuelConsumptionCo2.csv’

FuelConsumptionCo2. 100%[===================>]  70.93K   280KB/s    in 0.3s

2022-04-19 20:04:05 (280 KB/s) - ‘FuelConsumptionCo2.csv’ saved [72629/72629]

## FuelConsumption.csv

O dataset que você baixou contém dados de consumo de combustível de diferentes modelos de veículos a partir das quais é possíveis estimar a taxa de emissão de CO2. A seguir uma breve descrição de cada atributo.

    MODELYEAR e.g. 2014
    MAKE e.g. Acura
    MODEL e.g. ILX
    VEHICLE CLASS e.g. SUV
    ENGINE SIZE e.g. 4.7
    CYLINDERS e.g 6
    TRANSMISSION e.g. A6
    FUEL CONSUMPTION in CITY(L/100 km) e.g. 9.9
    FUEL CONSUMPTION in HWY (L/100 km) e.g. 8.9
    FUEL CONSUMPTION COMB (L/100 km) e.g. 9.2
    CO2 EMISSIONS (g/km) e.g. 182 --> low --> 0 #variável objetivo

A seguir utilizamos as seguintes funções:
- `df.head()`: apresenta as primeiras 5 amostras da base e todos os seus atributos.
- `df.describe()`: Apresenta estastísticas gerais de cada atributo.

In [ ]:
df = pd.read_csv("FuelConsumptionCo2.csv")
display(df.head())
df.describe()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

## Q1. Regressão Simples

A variável que gostaríamos de prever é a `CO2EMISSIONS`. Faremos nessa primeira atividade uma regressão simples, onde a partir de uma única variável, vamos modelar a predição da variável objetivo.

- Plot o espalhamento de cada uma das variáveis em relação à emissão de CO2 (função scatter do matplotlib, `plt.scatter`)
- Plot também a matriz de correlação (`df.corr`)
- Selecione a variável mais correlacionada para alimentar nosso modelo no passo seguinte.
> Note que as bibliotecas necessárias já foram importadas no início deste documento.

In [ ]:
## reg_model =  ....

**Realize a regressão linear simples com a variável selecionada no passo anterior. Use o pacote sklearn.**
- Separe os dados em treino e teste
- Ajuste o modelo no treino
- Imprima as métricas R2 score e a média dos resíduos ao quadrado (MSE) em ambos o treino e o teste.

**Plot o modelo resultante de seu treinamento**

In [ ]:
## plot o scatter da variável escolhida vs CO2
## plot o modelo (exemplo a seguir) 
##### plt.plot(train_x, reg_model.coef_[0][0]*train_x + reg_model.intercept_[0], '-r')

## Q2. Regressão polinomial

Para dados que não são linearmente separados, modelos polinomiais podem oferecer complexidade mais adequada. 

A função PolynomialFeatures() na biblioteca Scikit-learn pode nos ajudar nessa tarefa, já que ela gera uma matriz composta pelas combinações polinomiais das características do atributo. Por exemplo, digamos que o conjunto original tenha apenas um recurso, `ENGINESIZE`. Agora, se selecionarmos o grau do polinômio como 2, ele gerará 3 recursos, grau=0, grau=1 e grau=2.

**Realize a regressão polinomial a partir de `ENGINESIZE`**
- Extraia combinações polinomiais do atributo (experimente pelo menos dois diferentes graus de polinômio) 
- Alimente as características polimomias ao modelo de Regressão Linear

> Lembre-se de treinar em um conjunto e testar em outro. Meça a qualidade dos modelos produzidos em cada experimento. **Qual deles produziu a melhor resultado de teste?**

## Q3. Regressão multivariada

Na realidade, existem múltiplas variáveis que impactam a emissão de co2. Quando mais de uma variável independente está presente, o processo é chamado de regressão linear múltipla. Um exemplo de regressão linear múltipla é prever a emissão de co2 usando os recursos `FUELCONSUMPTION_COMB`, `ENGINESIZE` e `CYLINDERS`. O bom aqui é que o modelo de regressão linear múltipla é a extensão do modelo de regressão linear simples.

**Realize a regressão multivariada com as seguintes variáveis**
- As três mencionadas no enunciado
- Substitua `FUELCONSUMPTION_COMB` por `FUELCONSUMPTION_CITY` e `FUELCONSUMPTION_HWY` 

> Lembre-se de treinar em um conjunto e testar em outro. Lembre-se que para cada experimento deve-se medir a qualidade dos modelos. Aproveite e reflita sobre o que pode ter afetado as diferenças na acurácia.